<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AwsIoTEndPoint" value="https://A3COFSWG6X9L5X.iot.us-east-1.amazonaws.com"/>
    <add key="AccessKeyID" value="AKIAIQY2CL3IGCLEHESQ"/>
    <add key="SecretAccessKey" value="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"/>
  </appSettings>
</configuration>